FUSION_ORACLE_USERNAME=your.name@example.com
FUSION_ORACLE_PASSWORD=
FUSION_ORACLE_PERSON_ID=
FUSION_ORACLE_RESOURCE_VERSION=ee7b954c-bcc8-4b41-bf6a-3a136a30223e
FUSION_ORACLE_API_VERSION=11.13.18.05:9
